body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    margin: 50px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

section[data-aos] {
    opacity: 1;
}
